body{
    background-color: yellow;
    background-color: #ccc;
    /* retira a margem da página */
    margin: 0;
}

/* define os parametros do menu existente no header */

.menu{
    margin-top: 2%;
    margin-left: 65%;
    display: inline-block;
    list-style: none;
    
    
}

/* define os paramentos dos elementos do menu */
.menu a{
    background-color: none;
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    border: solid;
    text-align: center;
    line-height: 10px;
    height: 10px;
    /* distancia de um objeto para o outro */
    margin-left: 10px;
    
}

/* define parametro para o menu qdo estiver com o cursor em cima */
.menu a:hover{
    background-color: grey;
}

.hero{
    background-image: url("../images/bg-3.jpg");
    height: 500px;
    background-position: right center;
    /* permite ajustar o tamanho da imagem de acordo com a página */
    background-size: cover; 
    /* adiciona uma borda na página permitindo ajustar a imagem de acordo com a borda */
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

/* permite aplicar uma caracteristica para o h1 que está dentro do .hero-content */
.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    /* adiciona uma sombra a um texto */
    text-shadow: 3px 3px 2px #333;

}

.hero-content p{
    /* adicionar a cor com transparência */
    background-color: rgba(0, 0, 0, .8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid; 
}


.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    /* define se um obejto deve ser cortado ou não, onde auto ajustar o conteúdo a janela */
    overflow: auto;
   
   
}

.card{
    width: 32%;
    float: left;
    /* border: 2px solid blue; */
    /* permite incluir calcular a largura e altura dos elementos, border-box inclui o padding e borda */
    box-sizing: border-box;
    
}

.box_article{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    /* define se um obejto deve ser cortado ou não, onde auto ajustar o conteúdo a janela */
    overflow: auto;
   
}

.card_article{
    width: 50%;
    padding: 5px 5px 0;
    float: left;
    /* border: 2px solid blue; */
    /* permite incluir calcular a largura e altura dos elementos, border-box inclui o padding e borda */
    box-sizing: border-box;
    
}

.box_article p{
    /* adicionar a cor com transparência */
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    color: white;
    display: block;
    padding: 10px;
    border-bottom: 2px solid; 
}

.box_article img{
    width: 100%;
    display: block;
}
    .box_article card_article p{
        background-color: black;
        color: white;
        /* margin tira/adicionar espaço entre os objetos */
        margin: 0;
        padding: 15px;
        text-align: center;
        
} 

/* aplica parametrização para duas classes ao mesmo tempo */
.card1, .card2{
    margin-right: 2%;
}

.card img{
    /* define que a imagem irá ocupar 100% do espaço disponível */
    width: 100%;
    display: block;
    
}


.card p {
    background-color: black;
    color: white;
    /* margin tira/adicionar espaço entre os objetos */
    margin: 0;
    padding: 15px;
    text-align: center;
    

}
footer{
    text-align: center;
    height: 40px;
    /* permite alinhar o texto na posição vertical, mas deve ser no mesmo valor da altura  */
    line-height: 40px;
    /* background-color: white; */

    
}